<div class="jumbotron text-center">
  <form (ngSubmit)="onClickButton()">
    <ul class="nav navbar-nav">
      <li>
        Only last: &emsp;
        <select [(ngModel)]="imageQuery.numberOfImages" name="numberOfPages" #name="ngModel"> 
          <option *ngFor="let v of options" [value]="v.id">{{v.name}}</option>
        </select> &emsp; &emsp;
      </li>
      <li>
        Only from: &emsp;
        <input type="date" name="date" [(ngModel)]="imageQuery.date" #name="ngModel" /> &emsp; &emsp;
      </li>
      <li>
        <input type="submit" (submit)="onClickButton()" value="View" />
      </li>
    </ul>
  </form>
</div>